.git
.github
node_modules
npm-debug.log
yarn.lock
frontend
backend/node_modules
backend/vendor
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/.env
backend/.env.local
